.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.loading {
  margin-top: 50px;
  position: absolute;
}

.input {
  width: 415px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.suggestions {
  margin-top: 50px;
  position: absolute;
  width: 400px;
}
